{% set ajax = true %}

<div id="ajax">
	<div id="poemas" style="display: none;" >
		
		<div class="head clearfix">
			<a class="rtve" href="http://www.rtve.es/" title="Proyecto en colaboración con rtve.es"></a>
			<a class="lab" href="http://www.rtve.es/lab/" title="Proyecto en colaboración con el lab de rtve.es"></a>
			<a class="hamb showMenu" href="#menu"></a>
			<a href="{{ path('home') }}" class="url-lib titleHome"><strong>Memoria de futuro:</strong></a>
			<span class="titleThis"><strong>Selección de poemas</strong></span>
		</div>

		<div class="bl-playlist">
			{# <a href="#" id="playlist-before"></a> #}
			{% include twigFolder ~ '/blocks/poemas_list.html.twig'%}
			{# <a href="#" id="playlist-after"></a> #}
		</div>

		<div class="wrap">
			
			<div class="col-player">

				<div class="wk-valign"><div class="wk-valign-cont">

					<div class="bl-player">
						<a href="#" class="plyr-prev" title="poema anterior"></a>
						<a href="#" class="plyr-play" title="inicia la reproducción"></a>
						<a href="#" class="plyr-next" title="Siguiente poema"></a>
						<a href="#" class="plyr-mute" title="Silencia la reproducción"></a>

						<div class="bl-timer">
							<div class="bl-timer-time"></div>
						</div>
					</div>
					
					<a href="#" id="closePoemas">Continuar navegando</a>

				</div></div>

			</div>

			<div class="col-poemas">
				<div>
					{% for poema, name in rawData['poemas'] %}
						<div class="page-poema" style="display: none;" data-poema="{{ poema }}"><div class="scrool-wrap">
							{% include twigFolder ~ '/pages/poema.html.twig' with {'poemaId': poema} %}
						</div></div>
					{% endfor %}
				</div>
				<div class="bl-helpPlayer">
					Selecciona un poema en la parte inferior de la pantalla <br>
					Controla la reproducción con los controles de la izquierda <br>
					Comparte los versos del poema pulsando sobre ellos o el poema completo con los botones de la derehca
				</div>
			</div>

			<div class="col-help"><div class="wk-valign"><div class="wk-valign-cont">
				<p><strong>Comparte el poema completo</strong><br>con tus amigos<br>
					<a href="#" class="share-poema-twitter" title="compartir en twitter"></a>
					<a href="#" class="share-poema-facebook" title="compartir en Facebook"></a>
				</p>
				<p>o <span class="bg-green">selecciona un verso</span><br>y compártelo</p>
			</div></div></div>
		</div>

	</div>

	<div id="poetas">
		<div id="compo">

			<a href="{{ path('poeta', {'poeta': 'guille-galvan'}) }}" class="url-lib" id="guille">
				<img id="guille-end" src="img/guille-end.png">
				<img id="guille-fill1" src="img/guille-fill1.png">
				<img id="guille-fill1bis" src="img/guille-fill1bis.png">
				<div id="guille-fill2"><div class="wrp">
					<img src="img/guille-fill2.png">
				</div></div>
				<div id="guille-text"><div class="wrp">
					<img src="img/guille-text.png">
				</div></div>
			</a>

			<a href="{{ path('poeta', {'poeta': 'marwan'}) }}" class="url-lib" id="marwan">
				<img id="marwan-dust" src="img/marwan-dust.png">
				<img id="marwan-end" src="img/marwan-end.png">
				<img id="marwan-fill1" src="img/marwan-fill1.png">
				<img id="marwan-fill2" src="img/marwan-fill2.png">
				<div id="marwan-text"><div class="wrp">
					<img src="img/marwan-text2.png">
				</div></div>
			</a>

			<a href="{{ path('poeta', {'poeta': 'elvira-sanchez'}) }}" class="url-lib" id="elvira">
				<img id="elvira-end" src="img/elvira-end.png">
				<img id="elvira-fill1" src="img/elvira-fill1.png">
				<img id="elvira-fill2" src="img/elvira-fill2.png">
				<div id="elvira-text"><div class="wrp">
					<img src="img/elvira-texto.png">
				</div></div>
				<div id="elvira-reloj"><div class="wrp">
					<img src="img/elvira-reloj.png">
				</div></div>
			</a>

			<a href="{{ path('poeta', {'poeta': 'carlos-prado'}) }}" class="url-lib" id="carlos">
				<img id="carlos-end" src="img/carlos-end.png">
				<img id="carlos-fill1" src="img/carlos-fill1.png">
				<div id="carlos-fill2"><div class="wrp">
					<img src="img/carlos-fill2.png">
				</div></div>
			</a>

			<a href="{{ path('poeta', {'poeta': 'escandar-algeet'}) }}" class="url-lib" id="escandar">
				<img id="escandar-end" src="img/escandar-end.png">
				<img id="escandar-fill1" src="img/escandar-fill1.png">
				<div id="escandar-fill2"><div class="wrp">
					<img src="img/escandar-fill2.png">
				</div></div>
				<div id="escandar-text"><div class="wrp">
					<img src="img/escandar-text.png">
				</div></div>
			</a>

			<a href="{{ path('poeta', {'poeta': 'luis-garcia-montero'}) }}" data-luis="1" class="url-lib" id="luis">
				<img id="luis-fill1" src="img/luis-fill1.png">
				<img id="luis-end1" src="img/luis-2.png">
				<img id="luis-end2" src="img/luis-3.png">
				<img id="luis-end3" src="img/luis-4.png">
				<img id="luis-end4" src="img/luis-5.png">
				<div id="luis-fill2"><div class="wrp">
					<img src="img/luis-fill2.png">
				</div></div>
			</a>

			<img src="img/bg1.jpg" style="width: 100%; height: auto;">
		</div>

		{% for poeta, name in rawData['poetas'] %}
			<div class="page-poeta" id="page-{{ poeta }}" data-poeta="{{ poeta }}">
				<div class="wrap">

					<div class="head clearfix">
						<a class="rtve" href="http://www.rtve.es/" title="Proyecto en colaboración con rtve.es"></a>
						<a class="lab" href="http://www.rtve.es/lab/" title="Proyecto en colaboración con el lab de rtve.es"></a>
						<a class="hamb showMenu" href="#menu"></a>
						<a href="{{ path('home') }}" class="url-lib titleHome"><strong>Memoria de futuro:</strong> García Montero y la nueva poesía</a>
					</div>

					{% include twigFolder ~ '/pages/poeta.html.twig' with {'poeta': name, 'poetaId': poeta, 'list': false} %}
				</div>
			</div>
		{% endfor %}
	</div>
	
	<div id="redes">

		<div class="head clearfix">
			<a class="rtve" href="http://www.rtve.es/" title="Proyecto en colaboración con rtve.es"></a>
			<a class="lab" href="http://www.rtve.es/lab/" title="Proyecto en colaboración con el lab de rtve.es"></a>
			<a class="hamb showMenu" href="#menu"></a>
			<a href="{{ path('home') }}" class="url-lib titleHome"><strong>Memoria de futuro:</strong></a>
			<span class="titleThis"><strong>Radar social</strong></span>
		</div>

		{% include twigFolder ~ '/pages/redes.html.twig' %}
	</div>

	<div id="presentacion">

		<div class="head clearfix">
			<a class="rtve" href="http://www.rtve.es/" title="Proyecto en colaboración con rtve.es"></a>
			<a class="lab" href="http://www.rtve.es/lab/" title="Proyecto en colaboración con el lab de rtve.es"></a>
			<a class="hamb showMenu" href="#menu"></a>
			<a href="{{ path('home') }}" class="url-lib titleHome"><strong>Memoria de futuro:</strong></a>
			<span class="titleThis"><strong>Presentación de Luis</strong></span>
		</div>

	    <div class="vid" data-autoplay="true" data-loop="false" data-controls="true" data-video="tTq63Or1pMA"><img src="./img/bg-luis.jpg" class="poster" alt=""></div>
	</div>

	<div id="miniplayer">
		<div class="bl-player">
			<a href="#" class="plyr-prev" title="poema anterior"></a>
			<a href="#" class="plyr-play" title="inicia la reproducción"></a>
			<a href="#" class="plyr-next" title="Siguiente poema"></a>
			<a href="#" class="plyr-mute" title="Silencia la reproducción"></a>
			{# <a href="#" class="plyr-list" title="Selecciona poema"></a> #}
		</div>
		<div class="bl-player-current"><div class="wk-valign"><div class="wk-valign-cont bl-player-current-inn"></div></div></div>
		<a href="#" id="openPoemas">Abrir</a>
	</div>


</div>