{% set ajax = true %}

<div id="ajax">
	<div id="poemas">

		<div class="head clearfix">
			<a class="rtve" href="http://www.rtve.es/" title="Proyecto en colaboración con rtve.es"></a>
			<a class="lab" href="http://www.rtve.es/lab/" title="Proyecto en colaboración con el lab de rtve.es"></a>
			<a class="hamb showMenu" href="#menu"></a>
			<a href="{{ path('home') }}" class="url-lib titleHome ft-cutie"><strong>Memoria de futuro:</strong></a>
			<span class="titleThis ft-cutie"><strong>La voz de Luis García Montero</strong></span>
		</div>

		<div class="wrap">
			
			<div class="col-player">

				<div class="bl-player">
					<a href="#" class="plyr-prev" title="poema anterior"></a>
					<a href="#" class="plyr-play" title="inicia la reproducción"></a>
					<a href="#" class="plyr-next" title="Siguiente poema"></a>
					{# <a href="{{ path('home') }}" class="plyr-list url-lib" title="Continua navegando"></a> #}

					<div class="bl-timer">
						<div class="bl-timer-time"></div>
					</div>
				</div>


				<div class="bl-playlist">
					<ul>
						{% for poema, name in rawData['poemas'] %}
							<li><a class="url-lib {% if path('poema', {'poema': poema}) == url %}url-current{% endif %}" href="{{ path('poema', {'poema': poema}) }}">{{ name }}</a></li>
						{% endfor %}
					</ul>
				</div>

			</div>

			<div class="col-poemas">
				<div>
					{% for poema, name in rawData['poemas'] %}
						<div class="page-poema" style="display: none;" data-poema="{{ poema }}"><div class="scrool-wrap">
							{% include twigFolder ~ '/pages/poema-wrap.html.twig' with {'poemaId': poema } %}
						</div></div>
					{% endfor %}
				</div>
				<div class="bl-helpPlayer">
					<p style="font-weight: 900; font-size: 1.5em; max-width: 400px; margin: 0 auto;">Te ofrecemos una selección de poemas leídos por Luis García Montero:</p>
					<ul style="list-style-type: disc; font-size: 1.2em; line-height: 1.4em; padding: 0 1em; box-sizing: border-box;">
						<li>Selecciona un poema para comenzar la narración</li>
						<li>Usa los botones para controlar la reproducción</li>
						<li>Puedes continuar navegando mientras escuchas los poemas</li>
						<li>Comparte los versos o el poema completo y únete a nuestro <a coass="url-lib" href="{{ path('redes') }}">muro de la poesía</a></li>
					</ul>
				</div>
			</div>

			<div class="col-help">
				<a href="{{ path('home') }}" class="url-lib go-back" title="Ir al inicio"></a>
				<div class="wk-valign"><div class="wk-valign-cont">
					<p><strong>Comparte el poema completo</strong><br>con tus amigos<br>
						<a href="#" class="share-poema-twitter" title="compartir en twitter"></a>
						<a href="#" class="share-poema-facebook" title="compartir en Facebook"></a>
					</p>
					<p>o <span class="bg-green">selecciona un verso</span><br>y compártelo</p>
				</div></div>
			</div>
		</div>

	</div>

	<div id="poetas">
		<div class="head">
			<a class="lab" href="http://lab.rtve.es/" title="Proyecto en colaboración con el lab de rtve.es"></a>
			<span class="lab2" href="/" title="Conoce el documental">
				<img src="http://video.lab.rtve.es/resources/memoria-futuro/image/logoatnls.png">
				<span>Accede al documental a partir del 4 de Abril.</span>
			</span>
			<a class="hamb showMenu" href="#menu"></a>
			<a href="{{ path('home') }}" class="url-lib" title="Ir al inicio"><img src="http://video.lab.rtve.es/resources/memoria-futuro/image/logo.png" alt="" class="logo" alt="Memoria de futuro"></a>
			<img src="http://video.lab.rtve.es/resources/memoria-futuro/image/bar.png" class="headbar">
		</div>

		{% include twigFolder ~ '/blocks/compo.html.twig' %}


		{% for poeta, name in rawData['poetas'] %}
			{% if poeta != 'luis-garcia-montero' %}
				<div class="page-poeta" id="page-{{ poeta }}" data-poeta="{{ poeta }}">
					<div class="wrap">

						<div class="head clearfix">
							<a class="rtve" href="http://www.rtve.es/" title="Proyecto en colaboración con rtve.es"></a>
							<a class="hamb showMenu" href="#menu"></a>
							<a href="{{ path('home') }}" class="url-lib titleHome ft-cutie"><strong>Memoria de futuro</strong></a>
						</div>

						{% include twigFolder ~ '/pages/poeta-inn.html.twig' with {'poeta': name, 'poetaId': poeta, 'list': false} %}
					</div>
				</div>
			{% else %}
				<div class="page-poeta" id="luis" data-poeta="luis-garcia-montero">
				</div>
			{% endif %}
		{% endfor %}
	</div>
	
	{% include twigFolder ~ '/pages/redes.html.twig' %}

	<div id="presentacion">

		<div class="head clearfix">
			<a class="rtve" href="http://www.rtve.es/" title="Proyecto en colaboración con rtve.es"></a>
			<a class="lab" href="http://www.rtve.es/lab/" title="Proyecto en colaboración con el lab de rtve.es"></a>
			<a class="hamb showMenu" href="#menu"></a>
			<a href="{{ path('home') }}" class="url-lib titleHome ft-cutie"><strong>Memoria de futuro:</strong></a>
		</div>

	    <div class="vid" data-autoplay="true" data-loop="false" data-controls="true" data-video="tTq63Or1pMA"><img src="http://video.lab.rtve.es/resources/memoria-futuro/image/bg-luis.jpg" class="poster" alt=""></div>
	</div>

	{# <div id="legal">
		<a href="http://www.rtve.es/comunes/aviso_legal.html" target="_blank">Aviso Legal</a> - <a href="http://www.rtve.es/comunes/politica_privacidad.html" target="_blank">Política de Privacidad</a> - <a href="http://www.rtve.es/comunes/politica-cookies/rtve_politica_cookies_v1.pdf" target="_blank">Política de Cookies</a> - <a class="toggleCredits" href="#creditos">Créditos</a>
	</div> #}

	<div id="miniplayer">
		<div class="bl-miniplayer">
			<div class="player-nav"><a style="font-size: 0.9em;" href="{{ path('poemas') }}" class="url-lib ft-cutie showPoemas">Escucha la poesía de Luis</a></div>
			<div class="bl-player">
				<a href="#" class="plyr-prev" title="poema anterior"></a>
				<a href="#" class="plyr-play" title="inicia la reproducción"></a>
				<a href="#" class="plyr-next" title="Siguiente poema"></a>
				<a href="{{ path('poemas') }}" class="plyr-list url-lib showPoemas" title="abrir poemario"></a>
			</div>
		</div>
		<div class="bl-player-current"><div class="wk-valign"><div class="wk-valign-cont bl-player-current-inn"></div></div></div>
		<div class="bl-nav"><a style="font-size: 0.9em;" href="{{ path('redes') }}" class="url-lib ft-cutie">El muro de la poesía</a></div>
	</div>

</div>