<title>{{ seoData['title'] }} | eldiario.es</title>

<meta property="og:type" content="website">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@eldiarioes">
<meta name="twitter:creator" content="@eldiarioes">

<meta property="og:title" content="{{ seoData['title'] }}"/>
<meta name="twitter:title" content="{{ seoData['title'] }}">
<meta property="og:url" content="{{ path }}"/>
<meta property="og:site_name" content="{{ project }}"/>
<meta property="og:description" content="{{ seoData['description'] }}">
<meta name="description" content="{{ seoData['description'] }}">
<meta name="twitter:description" content="{{ seoData['description'] }}">
<meta name="keywords" content="{{ seoData['keywords'] }}">

<meta name="twitter:image" content="http://estaticos.lab.eldiario.es/estaticos/ochomarzo06/{{ seoData['seoImg'] }}">
<meta property="og:image" content="http://estaticos.lab.eldiario.es/estaticos/ochomarzo06/{{ seoData['seoImg'] }}"/>
