<div id="compo">

	<a href="{{ path('poeta', {'poeta': 'guille-galvan'}) }}" class="url-lib" id="guille">
		<img id="guille-end" src="http://video.lab.rtve.es/resources/memoria-futuro/image/guille-end.png">
		<img id="guille-fill1" src="http://video.lab.rtve.es/resources/memoria-futuro/image/guille-fill1.png">
		<img id="guille-fill1bis" src="http://video.lab.rtve.es/resources/memoria-futuro/image/guille-fill1bis.png">
		<div id="guille-fill2"><div class="wrp">
			<img src="http://video.lab.rtve.es/resources/memoria-futuro/image/guille-fill2.png">
		</div></div>
		<div id="guille-text"><div class="wrp">
			<img src="http://video.lab.rtve.es/resources/memoria-futuro/image/guille-text.png">
		</div></div>
	</a>

	<a href="{{ path('poeta', {'poeta': 'marwan'}) }}" class="url-lib" id="marwan">
		<img id="marwan-dust" src="http://video.lab.rtve.es/resources/memoria-futuro/image/marwan-dust.png">
		<img id="marwan-end" src="http://video.lab.rtve.es/resources/memoria-futuro/image/marwan-end.png">
		<img id="marwan-fill1" src="http://video.lab.rtve.es/resources/memoria-futuro/image/marwan-fill1.png">
		<img id="marwan-fill2" src="http://video.lab.rtve.es/resources/memoria-futuro/image/marwan-fill2.png">
		<div id="marwan-text"><div class="wrp">
			<img src="http://video.lab.rtve.es/resources/memoria-futuro/image/marwan-text2.png">
		</div></div>
	</a>

	<a href="{{ path('poeta', {'poeta': 'elvira-sastre'}) }}" class="url-lib" id="elvira">
		<img id="elvira-end" src="http://video.lab.rtve.es/resources/memoria-futuro/image/elvira-end.png">
		<img id="elvira-fill1" src="http://video.lab.rtve.es/resources/memoria-futuro/image/elvira-fill1.png">
		<img id="elvira-fill2" src="http://video.lab.rtve.es/resources/memoria-futuro/image/elvira-fill2.png">
		<div id="elvira-text"><div class="wrp">
			<img src="http://video.lab.rtve.es/resources/memoria-futuro/image/elvira-texto.png">
		</div></div>
		<div id="elvira-reloj"><div class="wrp">
			<img src="http://video.lab.rtve.es/resources/memoria-futuro/image/elvira-reloj.png">
		</div></div>
	</a>

	<a href="{{ path('poeta', {'poeta': 'carlos-prado'}) }}" class="url-lib" id="carlos">
		<img id="carlos-end" src="http://video.lab.rtve.es/resources/memoria-futuro/image/carlos-end.png">
		<img id="carlos-fill1" src="http://video.lab.rtve.es/resources/memoria-futuro/image/carlos-fill1.png">
		<div id="carlos-fill2"><div class="wrp">
			<img src="http://video.lab.rtve.es/resources/memoria-futuro/image/carlos-fill2.png">
		</div></div>
	</a>

	<a href="{{ path('poeta', {'poeta': 'escandar-algeet'}) }}" class="url-lib" id="escandar">
		<img id="escandar-end" src="http://video.lab.rtve.es/resources/memoria-futuro/image/escandar-end.png">
		<img id="escandar-fill1" src="http://video.lab.rtve.es/resources/memoria-futuro/image/escandar-fill1.png">
		<div id="escandar-fill2"><div class="wrp">
			<img src="http://video.lab.rtve.es/resources/memoria-futuro/image/escandar-fill2.png">
		</div></div>
		<div id="escandar-text"><div class="wrp">
			<img src="http://video.lab.rtve.es/resources/memoria-futuro/image/escandar-text.png">
		</div></div>
	</a>

	<a href="{{ path('poeta', {'poeta': 'luis-garcia-montero'}) }}" data-luis="1" class="url-lib" id="luis">
		<img id="luis-fill1" src="http://video.lab.rtve.es/resources/memoria-futuro/image/luis-fill1.png">
		<img id="luis-end1" src="http://video.lab.rtve.es/resources/memoria-futuro/image/luis-2.png">
		<img id="luis-end2" src="http://video.lab.rtve.es/resources/memoria-futuro/image/luis-3.png">
		<img id="luis-end3" src="http://video.lab.rtve.es/resources/memoria-futuro/image/luis-4.png">
		<img id="luis-end4" src="http://video.lab.rtve.es/resources/memoria-futuro/image/luis-5.png">
		<div id="luis-fill2"><div class="wrp">
			<img src="http://video.lab.rtve.es/resources/memoria-futuro/image/luis-fill2.png">
		</div></div>
	</a>

	<img src="http://video.lab.rtve.es/resources/memoria-futuro/image/bg1.jpg" style="width: 100%; height: auto;">
</div>