<div class="poeta-col-l">
	{% if ajax is not defined %}
		<img src="./img/{{ poetaId | split('-') | first }}-alone.jpg">
	{% else %}
		<div class="preFoto" data-src="./img/{{ poetaId | split('-') | first }}-alone-half.jpg"></div>
	{% endif %}
</div>
<div class="poeta-col-r">
	{% if ajax is not defined %}
		<h2>Presentación de {{ poeta }}</h2>
	{% endif %}

	{% include twigFolder ~ '/poetas/' ~ poetaId ~ '.html.twig' %}

	<div class="wk-col-l wk-col-50">
		<h3>Entrevista:</h3>
		<img src="./img/{{ poetaId | split('-') | first }}-vid-1.jpg" alt="">
	</div>
	<div class="wk-col-l wk-col-50">
		<h3>Un poema de Luis García Montero:</h3>
		<img src="./img/{{ poetaId | split('-') | first }}-vid-2.jpg" alt="">
	</div>
	
{# 
	{% for poeta, name in rawData['poetas'] %}
		{% if act is defined %}
			{% if act == poetaId %}
				<div class="col-l"><a class="url-lib btn" href="{{ path('poeta', {'poeta': poeta}) }}">Siguiente poeta: {{ rawData['poetas'][poeta] }}</a></div>
			{% endif %}
			{% set prev = act %}
		{% endif %}
		{% if poeta == poetaId and prev is defined %}
			<div class="col-l"><a class="url-lib btn" href="{{ path('poeta', {'poeta': prev}) }}">Anterior: {{ rawData['poetas'][prev] }}</a></div>
		{% endif %}
		{% set act = poeta %}
	{% endfor %} #}
	
	<div class="poeta-col-r-bottom">
	</div>

</div>